{% extends 'base.html' %}

{% block title %}
    Добавить почту
{% endblock %}

{% block body %}

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <div class="d-flex justify-content-between">
        <div class="load-info" id="load-info"></div>
        <a href="{% url 'message_service:mail_update_view' pk=mail.pk %}">{{ mail.login }}</a>
        <a href="{% url 'message_service:mail_list_view' %}">Назад</a>
    </div>

    <div class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="50"
             aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="loader d-inline" id="loader"></div>
    /
    <div class="loader-default d-inline" id="loader-default"></div>
    <table id="messages-table">
        <thead>
        <tr>
            <th>Тема сообщения (наименование</th>
            <th>Дата отправки</th>
            <th>Дата получения</th>
            <th>Описание или текст сообщения</th>
            <th>Кол-во прикрепленных файлов</th>
        </tr>
        </thead>
        <tbody id="messages-body">
        <!-- Здесь будут появляться строки сообщений -->
        </tbody>
    </table>

    <script>
        const host = window.location.hostname;
        const port = window.location.port;
        const wsPort = port ? port : (window.location.protocol === 'https:' ? '443' : '80');
        const wsUrl = `ws://${host}:${wsPort}/ws/message-processing/`;
        let socket = new WebSocket(wsUrl)
        let tableBody = document.getElementById('messages-body');
        let load_info = document.getElementById('load-info');
        let loader = document.getElementById('loader');
        let progress_bar = document.getElementById('progress-bar')
        let loader_default = document.getElementById('loader-default')

        socket.onopen = (event) => {
            socket.send(JSON.stringify({
                'login': '{{ mail.login }}',
                'password': '{{ mail.password }}',
                'server': '{{ mail.server.name }}'
            }))
        };

        socket.onmessage = (event) => {
            let data = JSON.parse(event.data);


            let message = data.message

            if (data.status === 300) {
                load_info.innerText = 'чтение сообщений'
            }
            if (data.status === 400) {
                load_info.innerText = 'Проблема при получения данных, проверьте учетные данные'
            }
            if (data.status === 200) {
                let count_messages = data.count_messages;
                let load_messages = data.load_messages
                loader_default.innerText = count_messages
                load_info.innerText = 'получение сообщений'
                let progress_unit = 100 / count_messages

                progress_bar.style.width = `${(count_messages - load_messages) * progress_unit}%`
                loader.innerText = load_messages

                const row = document.createElement('tr');

                const cell2 = document.createElement('td');
                cell2.textContent = message.title;
                row.appendChild(cell2);

                const cell3 = document.createElement('td');
                cell3.textContent = message.date_send;
                row.appendChild(cell3);

                const cell4 = document.createElement('td');
                cell4.textContent = message.date_receiving;
                row.appendChild(cell4);

                const cell5 = document.createElement('td');
                if (message.text_message.length > 150) {
                    cell5.textContent = message.text_message.substring(0, 150) + '...'
                } else {
                    cell5.textContent = message.text_message;
                }
                row.appendChild(cell5)
                const cell6 = document.createElement('td');
                if (message.files.length > 0) {
                    cell6.innerText = message.files.length

                }


                row.appendChild(cell6);

                // Добавление строки в тело таблицы
                tableBody.appendChild(row);

            }
        };

        socket.onerror = (error) => {
            console.error('WebSocket Error: ', error)
            loader.innerText = 'Проблема при получения данных, проверьте учетные данные'

        };
    </script>
{% endblock %}

